{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="home">
    <div class="row">
      <div class="col-sm-12 home__block1">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1>{% trans "Welcome to Northern Limits Farm" context "Homepage title" %}</h1>
                <h2>{% trans "because you are art" context "Homepage title" %}</h2>
                  <a class="btn btn-secondary home__button" href="#">
                    {% trans "Be Art now" context "Homepage action" %}
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   <div class="home">
    <div class="row">
      <div class="col-sm-12 home__block1">
        <div class="home--square">   
        Thank you for visiting! Here at Northern Limits Farm, we've gotten back to the
        basics.  Located in Canton, NY, we are a grass based beef farm that strives to produce
        a high quality, naturally raised product.  All of our cattle youngstock are either born
        from our home beef herd or are assembled locally fro select farms. We do not feed 
        antibiotics and no hormones are used on our animals. Thus giving you a highly nutrious,
        pasture grown alternative to conventional feedlot beef you'll find in your local 
        grocery.
                       
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 home__block2">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1>{% trans "Know your food!" context "Homepage title" %}</h1>
                <a class="btn btn-secondary home__button" href="#">{% trans "I's inevitable" context "Homepage action" %}</a>
              </div>Shop now
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 home__block3">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1>{% trans "Forward movement" context "Homepage title" %}</h1>
                <a class="btn btn-secondary home__button" href="#">{% trans "of the heart" context "Homepage action" %}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
       <div class="home">
        <div class="row">
          <div class="col-sm-12 home__block1">
            <div class="home--square">
    
                  Did you know that less than 2% of our country's population are involved in 
            agriultre today? When many are asked where their milk, meat and produce come from, they
            say "the grocery store".  It is a fact that each year consumers lose more touch with 
            their food sources and the agricultural supply.  Did you know that the US imports beef,
            milk and produce from foreign countries, mostly Latin and South America, that do not have
            to adhere to our strict food safety guidelines?  Have you ever wondered what journey
            your food takes on its way to the shelf in the local grocery store? This uncertainty
            is a driving force behind our farm and our farming techniques.  Northern Limits Farm
            strives to reconnect the consumer with the farmer, letting people feel more secure
            knowing what they are putting on their plates and in their bodies is 100% home grown
            American beef.
    
          </div>
        </div>
      </div>
    </div>
    
    {% if products %}
      <div class="home__featured">
        <h2 class="text-center">{% trans "Featured products" context "Homepage title" %}</h2>
        <div class="row">
          {% include "product/_items.html" %}
        </div>
      </div>
    {% endif %}
    <script type="application/ld+json">{{ webpage_schema|safe }}</script>
  </div>
{% endblock %}
